* {
  /* EXPERIMENT-2 */
  margin: 0%;
  padding: 0%;
}
table {
  border-collapse: collapse;
  border: 2px solid black;
  width: 100%;
  margin-top: 100px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}
th,td {
  border: 1px solid black;
  padding: 8px;
}
#s {
  background-color: rgb(233, 161, 88);
}
#x {
  background-color: rgb(247, 203, 163);
  text-align: center;
}
#v {
  text-align: center;
}
a {
  text-decoration: none;
}
h1 {
  text-align: center;
  margin-bottom: 10px;
}

